/* -------------------general styling  -------------*/

body {
    margin: 0;
}


/* -------------------  GAME COMPONENTS  -------------*/

canvas {
    width: 100%;
    height: 100%;
}

.logo {
    padding: 3%;
}