/* -------------------general styling  -------------*/

body {
    margin: 0;
}

canvas {
    background-color: pink;
    display: block;
}


/* -------------------  GAME COMPONENTS  -------------*/

#zombomb {
    height: 58px;
    position: absolute;
    bottom: 55px;
    margin-left: -50px;
}

#player {
    height: 50px;
    position: absolute;
    bottom: 0px;
    margin-left: -50px;
}

.birdEnemies {
    width: 70px;
    height: 100px;
    position: fixed;
}

.rotate {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.shoot {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
}

.shoot:hover {
    -webkit-transition: translate 2s;
    /* Safari prior 6.1 */
    transition: translate 2s;
}


/* SVG Styling*/

.st0 {
    fill: #98FF47;
}

.st1 {
    fill: none;
}