body {
    position: absolute;
    margin: 2%;
}

#gameArea {
    background-color: #005580;
    width: 400px;
    height: 400px;
}

#zombomb {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 10px;
    z-index: 0;
}

#player {
    position: absolute;
    width: 150px;
    height: 50px;
}

.rotate {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}